body {
  background: linear-gradient(
    109.6deg,
    rgb(61, 237, 253) 44.2%,
    rgb(3, 136, 238) 95.6%
  );
}
#body {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
button {
  background: white;
  color: darkblue;
  padding: 13px 18px;
  border: none;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  transition: all 150ms ease-in-out;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
#search-form-input {
  margin: 5px;
  background: linear-gradient(
    109.6deg,
    rgb(61, 237, 253) 44.2%,
    rgb(3, 136, 238) 95.6%
  );
  border-radius: 6px;
  font-size: 15px;
  padding: 15px 20px;
  width: 55%;
  border: none;
}
#search-form-button {
  border-radius: 6px;
  max-width: 150px;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  background: linear-gradient(
    109.6deg,
    rgb(61, 237, 253) 44.2%,
    rgb(3, 136, 238) 95.6%
  );
  border: none;
}
h1 {
  margin-bottom: 5px;
}
hr {
  position: relative;
  max-width: 90%;
  margin: 25px 0;
}
strong {
  color: blue;
}
p {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 60px;
}
.weather-app-icon {
  width: 75px;
  height: 75px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: blue;
  font-size: 16px;
}
.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
footer {
  text-align: center;
}
.dark {
  background: black;
}
.dark button {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
.dark #body {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
.dark a {
  color: black;
}
.dark .weather-forecast-temperatures {
  color: white;
}
.dark #search-form-input {
  background: black;
  color: white;
}
.dark #search-form-button {
  background: black;
  color: white;
}
.dark {
  color: white;
}
