body {
  background: #f9f7fe;
}
#body {
  background: linear-gradient(
    2.1deg,
    rgb(116, 253, 210) 5%,
    rgb(0, 191, 247) 95.8%
  );
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
#search-form-input {
  margin: 5px;
  background: #f9f7fe;
  border-radius: 6px;
  font-size: 15px;
  padding: 15px 20px;
  width: 55%;
  border: none;
}
#search-form-button {
  border-radius: 6px;
  max-width: 150px;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  background: lightseagreen;
  border: none;
}
h1 {
  margin-bottom: 5px;
}
hr {
  position: relative;
  max-width: 90%;
  margin: 25px 0;
}
strong {
  color: #fff;
}
p {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 60px;
}
.weather-app-icon {
  width: 75px;
  height: 75px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
}
.weather-forecast-icon {
  font-size: 40px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
