body {
  background: #f9f7fe;
}
#body {
  background: linear-gradient(
    2.1deg,
    rgb(116, 253, 210) 5%,
    rgb(0, 191, 247) 95.8%
  );
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
#placeholder {
  margin: 5px;
  background: #f9f7fe;
  border-radius: 6px;
  font-size: 15px;
  padding: 15px 20px;
  width: 55%;
  border: none;
}
#search {
  border-radius: 6px;
  max-width: 150px;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  background: lightseagreen;
  border: none;
}
h1 {
  margin-bottom: 5px;
}
hr {
  position: relative;
  max-width: 90%;
  margin: 25px 0;
}
strong {
  color: #fff;
}
ul {
  margin: 30px 0px;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding: 10px;
}
p {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 60px;
}
